<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mniez.myapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".StudentModule.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentModule.CourseBrowseActivity"
            android:label="@string/title_activity_course"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentModule.GradesActivity"
            android:label="@string/title_activity_course"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentModule.CourseElementsActivity"
            android:label="@string/title_activity_course_elements"
            android:parentActivityName=".StudentModule.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentModule.TestActivity"
            android:label="@string/title_activity_test_exam"
            android:parentActivityName=".StudentModule.CourseElementsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mniez.myapplication.StudentModule.CourseElementsActivity" />
        </activity>
        <activity
            android:name=".StudentModule.ExamActivity"
            android:label="@string/title_activity_test_exam"
            android:parentActivityName=".StudentModule.CourseElementsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mniez.myapplication.StudentModule.CourseElementsActivity" />
        </activity>
        <activity
            android:name=".StudentModule.CourseDetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".StudentModule.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mniez.myapplication.StudentModule.MainActivity" />
        </activity>
        <activity android:name=".StudentModule.FullSynchronizationActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"></activity>
        <activity android:name=".StudentModule.SynchronizationActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"></activity>
        <activity android:name=".StudentModule.InfoActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".TeacherModule.SynchronizationActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"></activity>
        <activity
            android:name=".TeacherModule.TeacherMainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeacherModule.CourseElementsActivity"
            android:label="@string/title_activity_course_elements"
            android:parentActivityName=".StudentModule.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeacherModule.CourseDetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".StudentModule.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mniez.myapplication.StudentModule.MainActivity" />
        </activity>
        <activity
            android:name=".TeacherModule.TestActivity"
            android:label="@string/title_activity_test_exam"
            android:parentActivityName=".TeacherModule.CourseElementsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mniez.myapplication.StudentModule.CourseElementsActivity" />
        </activity>
        <activity
            android:name=".TeacherModule.ExamActivity"
            android:label="@string/title_activity_test_exam"
            android:parentActivityName=".TeacherModule.CourseElementsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mniez.myapplication.StudentModule.CourseElementsActivity" />
        </activity>
        <activity android:name=".TeacherModule.InfoActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TeacherModule.GradesActivity"
            android:label="@string/title_activity_course"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.mniez.myapplication.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>